@model Ecommerce.Web.ViewModels.LayoutViewModel

<!DOCTYPE html>
<html class="no-js" lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <!-- Site title -->
    <title>Galio - Mega Shop Responsive Bootstrap 4 Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Content/theme/assets/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap CSS -->
    <link href="~/Content/theme/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font-Awesome CSS -->
    <link href="~/Content/theme/assets/css/font-awesome.min.css" rel="stylesheet">
    <!-- helper class css -->
    <link href="~/Content/theme/assets/css/helper.min.css" rel="stylesheet">
    <!-- Plugins CSS -->
    <link href="~/Content/theme/assets/css/plugins.css" rel="stylesheet">
    <!-- Main Style CSS -->
    <link href="~/Content/theme/assets/css/style.css" rel="stylesheet">

    <link href="~/Content/theme/assets/css/skin-default.css" rel="stylesheet" id="galio-skin">

    <script src="~/Content/theme/assets/js/vendor/jquery-3.3.1.min.js"></script>

    <script src="~/Content/theme/assets/js/vendor/js.cookie.min.js"></script>
    <script src="~/Content/theme/assets/js/vendor/jquery-ui.min.js"></script>
</head>

<body>

    <div class="wrapper">
        <!-- header area start -->
        <header>
            <!-- header top start -->
            <div class="header-top-area bg-gray text-center text-md-left">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-5">
                            <div class="header-call-action">
                                <a href="#">
                                    <i class="fa fa-envelope"></i>
                                    info@niltechit.com
                                </a>
                                <a href="#">
                                    <i class="fa fa-phone"></i>
                                    +880177766656
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-7">
                            <div class="header-top-right float-md-right float-none">
                                <nav>
                                    <ul>
                                        <li>
                                            <div class="dropdown header-top-dropdown">
                                                <a class="dropdown-toggle" id="myaccount" data-toggle="dropdown"
                                                   aria-haspopup="true" aria-expanded="false">
                                                    @if (Session["ID"] != null)
                                                    {
                                                        @Session["FirstName"];
                                                    }
                                                    else {
                                                        <span>Signup / Login</span>
                                                    }
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="myaccount">
                                                    @if (Session["ID"] != null)
                                                    {
                                                        <a class="dropdown-item" href="my-account.html">@Session["FirstName"]</a>
                                                        <a class="dropdown-item" href="my-account.html">Manage My Account</a>
                                                        <a class="dropdown-item" href="@Url.Action("MyOrderList","UserDashboard",new { ID=Session["ID"]})">My Order</a>
                                                        <a class="dropdown-item" href="my-account.html">My Wishlist & Followed Stories</a>
                                                        <a class="dropdown-item" href="@Url.Action("commentsList","UserDashboard",new { ID=Session["ID"]})">My Reviews</a>
                                                        <a class="dropdown-item" href="@Url.Action("commentList","UserDashboard",new { ID=Session["ID"]})">My Return & Cancellations</a>
                                                        <a class="dropdown-item" href="@Url.Action("Logout","Auth")"> Logout</a>
                                                    }
                                                    else
                                                    {
                                                        <a class="dropdown-item" href="@Url.Action("Login","Auth")"> login</a>
                                                        <a class="dropdown-item" href="@Url.Action("AddUser","User")">register</a>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">my wishlist</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("MyCart","Shop")">my cart</a>
                                        </li>
                                        <li>
                                            <a href="#">checkout</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header top end -->
            <!-- header middle start -->
            <div class="header-middle-area pt-20 pb-20">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="brand-logo">
                                <a href="@Url.Action("Index", "Home")">
                                    <img src="~/Content/theme/assets/img/logo/logo.png" alt="brand logo">
                                </a>
                            </div>
                        </div> <!-- end logo area -->
                        <div class="col-lg-9">
                            <div class="header-middle-right">
                                <div class="header-middle-block">
                                    <form method="get" action="@Url.Action("Index","Shop")">
                                        <div class="header-middle-searchbox">
                                            <input type="text" name="SearchTerm" placeholder="Search By Product Name">
                                            <button href="@Url.Action("Index","Shop")" class="search-btn"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                    <a href="@Url.Action("Checkout","Shop")">
                                        <div class="header-mini-cart">
                                            <div class="mini-cart-btn">
                                                <i class="fa fa-shopping-cart"></i>
                                                <a href="@Url.Action("MyCart","Shop")"><span id="cartProductsCount" class="cart-notification">0</span></a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- header middle end -->
            <!-- main menu area start -->
            <div class="main-header-wrapper bdr-bottom1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="main-header-inner">
                                <div class="category-toggle-wrap">
                                    <div class="category-toggle">
                                        category
                                        <div class="cat-icon">
                                            <i class="fa fa-angle-down"></i>
                                        </div>
                                    </div>
                                    <nav class="category-menu hm-1">
                                        <ul>
                                            @foreach (var category in ViewBag.NineCategory)
                                            {
                                                <li>
                                                    <a href="@Url.Action("CategoryWiseProduct","SeachingProduct",new { ID=category.ID})">
                                                        <i class="fa fa-desktop"></i>
                                                        @category.CategoryName
                                                    </a>
                                                </li>
                                            }
                                            <li>
                                                <a href="@Url.Action("ShwoAllCategories","Category")">
                                                    <i class="fa fa-list"></i>
                                                    View All Category
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="active">
                                                <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i>Home</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Index","Shop")">shop</a>

                                            </li>
                                            <li><a href="contact-us.html">Contact us</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 d-block d-lg-none">
                            <div class="mobile-menu"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main menu area end -->

        </header>
        <!-- header area end -->
        @RenderBody()

        <!-- brand area start -->
        <div class="brand-area pt-28 pb-30">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="section-title mb-30">
                            <div class="title-icon">
                                <i class="fa fa-crop"></i>
                            </div>
                            <h3>Popular Brand</h3>
                        </div> <!-- section title end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="brand-active slick-padding slick-arrow-style">
                            @foreach (var brand in Model.Branding)
                            {

                                var picURL = brand.BrandingPictures != null && brand.BrandingPictures.Count > 0 ?
                                "/Content/images/" +
                                   brand.BrandingPictures.First().Picture.PictureURL :
                                       "~/Content/theme/assets/img/product/product-img1.jpg";
                                <div class="brand-item text-center">
                                    <a href="#"><img src="@picURL" style="width:160px; height:65px" alt=""></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- brand area end -->
        <!-- footer area start -->
        <footer>
            <!-- footer top start -->
            <div class="footer-top bg-black pt-14 pb-14">
                <div class="container">
                    <div class="footer-top-wrapper">
                        <div class="newsletter__wrap">
                            <div class="newsletter__title">
                                <div class="newsletter__icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="newsletter__content">
                                    <h3>sign up for newsletter</h3>
                                    <p>Duis autem vel eum iriureDuis autem vel eum</p>
                                </div>
                            </div>
                            <div class="newsletter__box">
                                <form id="mc-form">
                                    <input type="email" id="mc-email" autocomplete="off" placeholder="Email">
                                    <button id="mc-submit">subscribe!</button>
                                </form>
                            </div>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                            </div>
                            <!-- mailchimp-alerts end -->
                        </div>
                        <div class="social-icons">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Google-plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer top end -->
            <!-- footer main start -->
            <div class="footer-widget-area pt-40 pb-38 pb-sm-10">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget mb-sm-30">
                                <div class="widget-title mb-10 mb-sm-6">
                                    <h4>contact us</h4>
                                </div>
                                <div class="widget-body">
                                    <ul class="location">
                                        <li><i class="fa fa-envelope"></i>support@galio.com</li>
                                        <li><i class="fa fa-phone"></i>(800) 0123 456 789</li>
                                        <li>
                                            <i class="fa fa-map-marker"></i>Address: 1234 - Bandit Tringi Aliquam
                                            Vitae. New York
                                        </li>
                                    </ul>
                                    <a class="map-btn" href="contact-us.html">open in google map</a>
                                </div>
                            </div> <!-- single widget end -->
                        </div> <!-- single widget column end -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget mb-sm-30">
                                <div class="widget-title mb-10 mb-sm-6">
                                    <h4>my account</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li><a href="#">my account</a></li>
                                        <li><a href="#">my cart</a></li>
                                        <li><a href="#">checkout</a></li>
                                        <li><a href="#">my wishlist</a></li>
                                        <li><a href="#">login</a></li>
                                    </ul>
                                </div>
                            </div> <!-- single widget end -->
                        </div> <!-- single widget column end -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget mb-sm-30">
                                <div class="widget-title mb-10 mb-sm-6">
                                    <h4>short code</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li><a href="#">gallery</a></li>
                                        <li><a href="#">accordion</a></li>
                                        <li><a href="#">carousel</a></li>
                                        <li><a href="#">map</a></li>
                                        <li><a href="#">tab</a></li>
                                    </ul>
                                </div>
                            </div> <!-- single widget end -->
                        </div> <!-- single widget column end -->
                        <div class="col-md-3 col-sm-6">
                            <div class="footer-widget mb-sm-30">
                                <div class="widget-title mb-10 mb-sm-6">
                                    <h4>product tags</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li><a href="#">computer</a></li>
                                        <li><a href="#">camera</a></li>
                                        <li><a href="#">smart phone</a></li>
                                        <li><a href="#">watch</a></li>
                                        <li><a href="#">tablet</a></li>
                                    </ul>
                                </div>
                            </div> <!-- single widget end -->
                        </div> <!-- single widget column end -->
                    </div>
                </div>
            </div>
            <!-- footer main end -->
            <!-- footer bootom start -->
            <div class="footer-bottom-area bg-gray pt-20 pb-20">
                <div class="container">
                    <div class="footer-bottom-wrap">
                        <div class="copyright-text">
                            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
                        </div>
                        <div class="payment-method-img">
                            <img src="assets/img/payment.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer bootom end -->

        </footer>
        <!-- footer area end -->
    </div>


    <!-- Quick view modal start -->
    <div class="modal" id="quick_view">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!-- product details inner end -->
                    <div class="product-details-inner">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="product-large-slider slick-arrow-style_2 mb-20">
                                    <div class="pro-large-img">
                                        <img src="assets/img/product/product-details-img1.jpg" alt="" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="assets/img/product/product-details-img2.jpg" alt="" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="assets/img/product/product-details-img3.jpg" alt="" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="assets/img/product/product-details-img4.jpg" alt="" />
                                    </div>
                                    <div class="pro-large-img">
                                        <img src="assets/img/product/product-details-img5.jpg" alt="" />
                                    </div>
                                </div>
                                <div class="pro-nav slick-padding2 slick-arrow-style_2">
                                    <div class="pro-nav-thumb">
                                        <img src="assets/img/product/product-details-img1.jpg"
                                             alt="" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="assets/img/product/product-details-img2.jpg"
                                             alt="" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="assets/img/product/product-details-img3.jpg"
                                             alt="" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="assets/img/product/product-details-img4.jpg"
                                             alt="" />
                                    </div>
                                    <div class="pro-nav-thumb">
                                        <img src="assets/img/product/product-details-img5.jpg"
                                             alt="" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="product-details-des mt-md-34 mt-sm-34">
                                    <h3><a href="product-details.html">external product 12</a></h3>
                                    <div class="ratings">
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span class="good"><i class="fa fa-star"></i></span>
                                        <span><i class="fa fa-star"></i></span>
                                        <div class="pro-review">
                                            <span>1 review(s)</span>
                                        </div>
                                    </div>
                                    <div class="availability mt-10">
                                        <h5>Availability:</h5>
                                        <span>1 in stock</span>
                                    </div>
                                    <div class="pricebox">
                                        <span class="regular-price">$160.00</span>
                                    </div>
                                    <p>
                                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                                        tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<br>
                                        Phasellus id nisi quis justo tempus mollis sed et dui. In hac habitasse platea
                                        dictumst. Suspendisse ultrices mauris diam. Nullam sed aliquet elit. Mauris
                                        consequat nisi ut mauris efficitur lacinia.
                                    </p>
                                    <div class="quantity-cart-box d-flex align-items-center mt-20">
                                        <div class="quantity">
                                            <div class="pro-qty"><input type="text" value="1"></div>
                                        </div>
                                        <div class="action_link">
                                            <a class="buy-btn" href="#">
                                                add to cart<i class="fa fa-shopping-cart"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details inner end -->
                </div>
            </div>
        </div>
    </div>
    <!-- Quick view modal end -->
    <!-- Scroll to top start -->
    <div class="scroll-top not-visible">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- Scroll to Top End -->
    <!--All jQuery, Third Party Plugins & Activation (main.js) Files-->
    <script src="~/Content/theme/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- Popper Min Js -->
    <script src="~/Content/theme/assets/js/vendor/popper.min.js"></script>
    <!-- Bootstrap Min Js -->
    <script src="~/Content/theme/assets/js/vendor/bootstrap.min.js"></script>
    <!-- Plugins Js-->
    <script src="~/Content/theme/assets/js/plugins.js"></script>
    <!-- Ajax Mail Js -->
    <script src="~/Content/theme/assets/js/ajax-mail.js"></script>
    <!-- Active Js -->
    <script src="~/Content/theme/assets/js/main.js"></script>
    <!-- Switcher JS [Please Remove this when Choose your Final Projct] -->
    <script src="~/Content/theme/assets/js/switcher.js"></script>
    
    <script>
        var products;
        $(".addtoCart").click(function () {
            //this code for exiting cookie
            var rxistngCookie = $.cookie('CartProducts');
            if (rxistngCookie != undefined && rxistngCookie != "" && rxistngCookie != null) {
                products = rxistngCookie.split('-');
            }
            else {

                products = [];
            }
            var productID = $(this).attr('data-id');

            products.push(productID);

            //$.cookie('CartProducts', productID);
            $.cookie('CartProducts', products.join('-'), { path: '/' });
            updateCartProducts();
            alert("Product Add to Card")
            // swal("Done", "Product Add To Cart", "success")
        });
    </script>
</body>



</html>